name: CD

on:
  push:
    branches: [ "main", "release" ]

jobs:
  docker:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          build-args: |
            NEXT_PUBLIC_API_URL=https://mdeis-customer-backend-production.up.railway.app
          tags: |
            aicallec/proyect_ci:latest
            aicallec/proyect_ci:${{ github.sha }}

  deploy:
    needs: docker
    runs-on: ubuntu-latest
    
    steps:
      - name: Install Koyeb CLI
        run: |
          curl -fsSL https://raw.githubusercontent.com/koyeb/koyeb-cli/master/install.sh | sh
          echo "$HOME/.koyeb/bin" >> $GITHUB_PATH

      - name: Redeploy to Koyeb
        run: koyeb service redeploy ready-gennie/proyect-ci
        env:
          KOYEB_TOKEN: ${{ secrets.KOYEB_API_TOKEN }}
